# Node
node_modules/
npm-debug.log*
yarn.lock
pnpm-lock.yaml

# Build outputs
dist/
build/
.out/
.next/
coverage/

# Env / secrets
.env
.env.local
.env.*.local

# Logs
logs/
*.log

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/
